In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
# 今天日期
from datetime import datetime,time,date

In [3]:
today_date = date.today()
print (today_date)

2015-03-23

In [4]:
#抓現有樂透。。。先試著抓下來就好
df= pd.read_html("http://www.nfd.com.tw/lottery/power-38/2015.htm",parse_dates=[])

In [5]:
#要把那唯一的一個抓下來
len(df)

1

In [6]:
#到了py3就把單純的數字視作了日期，以下先暫時弄出來
df= pd.read_html("http://www.nfd.com.tw/lottery/power-38/2015.htm",header=0,infer_types=False)[0]

/Users/annie/anaconda/envs/py34/lib/python3.4/site-packages/pandas/io/html.py:841: FutureWarning: infer_types will have no effect in 0.14
  warnings.warn("infer_types will have no effect in 0.14", FutureWarning)

In [7]:
df.head()

     年份      日期 期數 球號 1 球號 2 球號 3 球號 4 球號 5 球號 6 特號  總期數
0  2015  01/ 01  1    1    3    5   11   17   21  2  725
1  2015  01/ 05  2    1    6   15   23   26   34  6  726
2  2015  01/ 08  3    3   13   17   29   36   38  7  727
3  2015  01/ 12  4   16   25   30   35   36   37  5  728
4  2015  01/ 15  5    1    3   16   28   29   37  2  729

In [8]:
l=len(df)-1
last=df.ix[l]

In [9]:
last

年份        2015
日期      03/ 19
期數          23
球號 1         6
球號 2        17
球號 3        30
球號 4        34
球號 5        35
球號 6        38
特號           2
總期數        747
Name: 22, dtype: object

In [10]:
last=pd.DataFrame(last)

In [11]:
last.index

Index(['年份', '日期', '期數', '球號 1', '球號 2', '球號 3', '球號 4', '球號 5', '球號 6', '特號', '總期數'], dtype='object')

In [12]:
print ("上一期號碼 "+last.ix['球號 1'].values+","+last.ix['球號 2'].values+","+last.ix['球號 3'].values+","+last.ix['球號 4'].values+","+last.ix['球號 5'].values+","+last.ix['球號 6'].values)

['上一期號碼 6,17,30,34,35,38']

In [13]:
#print ("上一期開獎時間 "+last.ix['年份'].values+"/ "+last.ix['日期'].values)

In [14]:
#顯示星期幾用weekday()
today_date.weekday()

0

In [15]:
#把日期弄成看得懂的方式去辨識
u=str(last.ix['日期'].values).strip("[']")

In [16]:
u=u.split("/ ")

In [17]:
int(u[0])

3

In [18]:
y=str(last.ix['年份'].values).strip("[']")
y

'2015'

In [19]:
#d=",".join((y,u[0],u[1]))
w=date(int(y),int(u[0]),int(u[1])).weekday()

In [20]:
def weekday(x):
    n=({0:u"一",1:u"二",2:u"三",3:u"四",4:u"五",5:u"六",6:u"日"})
    return (n[x])

In [21]:
print ("上一期開獎時間 "+last.ix['年份'].values+"/ "+last.ix['日期'].values+" ("+str(weekday(w))+")")

['上一期開獎時間 2015/ 03/ 19 (四)']

In [22]:
%save lastnum.py 1-21

The following commands were written to file `lastnum.py`:
get_ipython().magic('pylab inline')
import pandas as pd
# 今天日期
from datetime import datetime,time,date
today_date = date.today()
print (today_date)
#抓現有樂透。。。先試著抓下來就好
df= pd.read_html("http://www.nfd.com.tw/lottery/power-38/2015.htm",parse_dates=[])
#要把那唯一的一個抓下來
len(df)
#到了py3就把單純的數字視作了日期，以下先暫時弄出來
df= pd.read_html("http://www.nfd.com.tw/lottery/power-38/2015.htm",header=0,infer_types=False)[0]
df.head()
l=len(df)-1
last=df.ix[l]
last
last=pd.DataFrame(last)
last.index
print ("上一期號碼 "+last.ix['球號 1'].values+","+last.ix['球號 2'].values+","+last.ix['球號 3'].values+","+last.ix['球號 4'].values+","+last.ix['球號 5'].values+","+last.ix['球號 6'].values)
#print ("上一期開獎時間 "+last.ix['年份'].values+"/ "+last.ix['日期'].values)
#顯示星期幾用weekday()
today_date.weekday()
#把日期弄成看得懂的方式去辨識
u=str(last.ix['日期'].values).strip("[']")
u=u.split("/ ")
int(u[0])
y=str(last.ix['年份'].values).strip("[']")
y
#d=",".join((y,u[0],u[1]))
w=date(int(y),int(u[0]),int(u[1])).weekday()
def weekday(x):
    n=({0:u"一",1:u"二",2:u"三",3:u"四",4:u"五",5:u"六",6:u"日"})
    return (n[x])
print ("上一期開獎時間 "+last.ix['年份'].values+"/ "+last.ix['日期'].values+" ("+str(weekday(w))+")")

In [23]:
%run lastnum.py

WARNING: pylab import has clobbered these variables: ['datetime']
`%matplotlib` prevents importing * from pylab and numpy
/Users/annie/anaconda/envs/py34/lib/python3.4/site-packages/pandas/io/html.py:841: FutureWarning: infer_types will have no effect in 0.14
  warnings.warn("infer_types will have no effect in 0.14", FutureWarning)

Populating the interactive namespace from numpy and matplotlib
2015-03-23
['上一期號碼 6,17,30,34,35,38']
['上一期開獎時間 2015/ 03/ 19 (四)']